@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  background: transparent;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  position: relative;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background: url(./../img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #1a1a1a;
  font-family: 'Shippori Mincho B1', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic','Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans','ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  margin: 0 auto;
  min-width: 280px;
}

p {
  font-size: 0.9rem;
  line-height: 1.4em;
}

.link_text {
  color: #1a1a1a;
  border-bottom: 1px solid;
}

img {
  height: auto;
  width: 100%;
}

section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.contents {
  margin: 0 auto;
  width: 85%;
}

@media (max-width: 830px) and (orientation: landscape) {
  .contents {
    padding-top: 2em;
  }
}

@media (max-width: 576px) {
  .contents {
    width: 80%;
  }
}

video {
  max-height: 250px;
}

h1 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-weight: 600;
  font-size: 4rem;
  line-height: 2em;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 3rem;
  }
}

.attention {
  font-size: 8px;
  line-height: 1.8em;
}

.font-bold {
  font-weight: 600;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
}

.header-area {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#sp-nav {
  height: 100vh;
  z-index: 998;
  background-color: #fff;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
  margin: 0 0 0 auto;
  max-width: 500px;
  overflow-y: scroll;
}

#sp-nav .header-nav {
  height: 100%;
  list-style: none;
  position: relative;
}

#sp-nav .header-nav__item {
  padding: 9% 0 0;
  list-style: none;
}

#sp-nav .header-nav__item a {
  color: #7b7b7b;
  font-weight: 600;
}

#sp-nav .header-nav__item a:hover {
  color: #BA1515;
}

#sp-nav .header-nav .nav-list {
  text-align: left;
  padding: 15%;
}

/* ハンバーガーメニュー */
.header__menu {
  display: block;
  height: 28px;
  position: fixed;
  right: 0;
  top: 20px;
  width: 20px;
  z-index: 999;
}

.header__menu.is-active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header__menu.is-active span {
  -webkit-transition: .6s;
  transition: .6s;
}

.header__menu.is-active span:first-child {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #BA1515;
}

.header__menu.is-active span:nth-child(2) {
  opacity: 0;
}

.header__menu.is-active span:last-child {
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #1a1a1a;
}

.header__menu__line {
  cursor: pointer;
  height: 28px;
  margin: 0;
  position: relative;
  width: 32px;
}

.header__menu__line span {
  background: #1a1a1a;
  display: block;
  height: 3px;
  position: absolute;
  -webkit-transition: .6s;
  transition: .6s;
  width: 3px;
}

.header__menu__line span:first-child {
  top: 0;
}

.header__menu__line span:nth-child(2) {
  top: 13px;
}

.header__menu__line span:last-child {
  bottom: 0;
}

.loader {
  background: #fff;
  bottom: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.loader img {
  width: 100%;
  height: 100vh;
  -webkit-animation: loader 2s ease;
          animation: loader 2s ease;
}

@-webkit-keyframes loader {
  0% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes loader {
  0% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

:root {
  --swiper-theme-color: $text-color !important;
}

.swiper-container {
  width: 100%;
  height: 100vh;
}

.swiper-container .swiper-wrapper .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#page {
  max-width: 1360px;
  margin: 0 auto;
}

#page .page-rute {
  position: fixed;
  left: 15px;
  width: 15px;
}

#page .swiper-pagination-bullet-active {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  background: #1a1a1a;
  border-color: #1a1a1a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper-pagination-bullet {
  border: 1px solid #1a1a1a;
  width: 10px;
  height: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
  display: block;
}

/*
以下コンテンツ
-------------------------------------------*/
main {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url(./../img/main.png);
  background-position: center right 40px;
  background-repeat: no-repeat;
  background-size: 450px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

@media (max-width: 830px) and (orientation: landscape) {
  main {
    background-size: 150px;
  }
}

@media (max-width: 768px) {
  main {
    background-position: bottom 15% right 40px;
    background-size: 200px;
  }
}

main .main-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

main .main-area .annotation {
  font-size: 2rem;
  margin-top: 0.5em;
  display: block;
}

main .main-area .produce {
  font-size: 0.5em;
  padding-top: 30%;
}

@media (max-width: 830px) and (orientation: landscape) {
  main .main-area .produce {
    padding-top: 2em;
  }
}

.column_double {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

@media (max-width: 830px) and (orientation: landscape) {
  .column_double {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .column_double {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.column_double dl {
  width: 48%;
}

@media (max-width: 830px) and (orientation: landscape) {
  .column_double dl {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .column_double dl {
    width: 100%;
  }
}

.column_double figure {
  width: 48%;
}

@media (max-width: 830px) and (orientation: landscape) {
  .column_double figure {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .column_double figure {
    width: 100%;
  }
}

.story .contents .topic-area {
  text-align: right;
}

@media (max-width: 1024px) {
  .story .contents .topic-area {
    padding-bottom: 1em;
  }
}

@media (max-width: 768px) {
  .story .contents .topic-area {
    width: 90%;
    margin: 0 auto;
  }
}

.story .contents .topic-area h2 {
  padding-bottom: 1em;
}

.story .contents .story_img {
  max-width: 400px;
  position: relative;
  top: -80px;
  left: 40px;
}

@media (max-width: 830px) and (orientation: landscape) {
  .story .contents .story_img {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .story .contents .story_img {
    width: 200px;
    top: -10px;
  }
}

.story .contents p {
  line-height: 4em;
  padding-top: 1em;
}

@media (max-width: 1024px) {
  .story .contents p {
    line-height: 2em;
  }
}

.story .contents .contents-txt {
  padding-left: 8em;
  text-align: left;
}

@media (max-width: 1024px) {
  .story .contents .contents-txt {
    padding: 2em 0 0 0;
  }
}

.story .contents .contents-txt.pl_4em {
  padding-left: 4em;
}

@media (max-width: 768px) {
  .outline .contents-txt {
    margin-bottom: 3em;
  }
}

.chapter {
  list-style: none;
  max-width: 400px;
  margin: 0 0 2em auto;
  font-size: 0.9rem;
}

.chapter:last-child {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .chapter {
    line-height: 2em;
    width: 90%;
    max-width: 100%;
  }
}

.chapter .border_b {
  padding-bottom: 0.5em;
  border-bottom: 1px solid;
  font-size: 1.2em;
  text-align: right;
  margin-bottom: 1em;
}

.use {
  position: relative;
}

@media (max-width: 1024px) {
  .use {
    overflow: hidden;
  }
}

.use .bg_grid {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}

.use .bg_grid .border::after {
  width: 50%;
  content: '';
  height: 100%;
  background-image: -webkit-linear-gradient(top, #a08064, #666 15px, transparent 15px, transparent 20px);
  background-image: linear-gradient(to bottom, #a08064, #666 15px, transparent 15px, transparent 20px);
  background-size: 2px 30px;
  background-position: right;
  background-repeat: repeat-y;
  position: absolute;
}

@media (max-width: 1024px) {
  .use .bg_grid .border::after {
    display: none;
  }
}

.use .flow {
  padding: 1em 0 1.5em 1.5em;
}

.use .flow__item {
  padding-left: 0.5em;
}

.use .timeline {
  overflow-y: hidden;
  font-size: 0.8rem;
  max-height: 700px;
}

.use .timeline__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .use .timeline__item {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.use .timeline__text {
  width: 48%;
}

@media (max-width: 768px) {
  .use .timeline__text {
    width: 100%;
  }
}

.use .timeline__text dt {
  font-weight: 600;
  font-size: 2em;
}

.use .step_caption {
  font-size: 0.5rem;
  line-height: 3em;
}

.use .step_2 {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 5%;
}

@media (max-width: 830px) and (orientation: landscape) {
  .use .step_2 {
    display: none;
  }
}

@media (max-width: 576px) {
  .use .step_2 {
    display: none;
  }
}

.use .step_img {
  margin: 0 5em;
}

.enter {
  text-align: center;
}

.enter .contents {
  padding: 0;
  width: 100%;
}

.enter .open_hour {
  margin-bottom: 1em;
}

.enter .open_hour__chapter {
  line-height: 2em;
}

.enter .infomation {
  line-height: 2em;
}

.enter .gate {
  position: relative;
}

.enter .gate::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: url(./../img/key.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  -webkit-transform: rotateZ(55deg);
          transform: rotateZ(55deg);
  top: 5%;
  right: -50%;
  -webkit-transform-origin: right;
          transform-origin: right;
}

@media (max-width: 768px) {
  .enter .gate::after {
    width: 60px;
    height: 60px;
    right: -25%;
  }
}

.enter .gate_link {
  display: block;
  cursor: pointer;
  max-width: 200px;
  background-image: url(./../img/gate.png);
  background-size: contain;
  height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 2s;
  transition: all 2s;
}

@media (max-width: 830px) and (orientation: landscape) {
  .enter .gate_link {
    height: 100px;
  }
}

.enter .gate_link:hover {
  background-image: url(./../img/gate-active.png);
}

footer {
  text-align: center;
  position: relative;
  bottom: 30px;
}

@media (max-width: 830px) and (orientation: landscape) {
  footer {
    bottom: 20px;
  }
}

footer .copy {
  font-size: 8px;
  color: #1A1A1A;
}
/*# sourceMappingURL=style.css.map */
